---
import UploadForm from "../../../components/UploadForm.svelte"
---

<main class="h-screen bg-background text-text grid grid-cols-1 grid-rows-1 place-items-center">
    <UploadForm client:load/>
</main>