---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const response = await fetch("http://localhost:3000/store/1/files");
const data = await response.json();
---

<main>

</main>
