---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import axios from 'axios';
// const response = await fetch("http://localhost:3000/store/1/files");
// const data = await response.json();
// console.log(`Test: ${Astro.cookies.has("token")}`)
let data;
if (!Astro.cookies.has("token")) {
    // console.log("redirecting");
    return Astro.redirect("/login");
}else{
    // get and decode jwt from cookie
    // and send axios request to http://localhost:3000/store/1/files
    console.log(`Token: ${Astro.cookies.has("token")}`);
    // axios.get(`http://localhost:3000/store/1/files`)
    // .then(function (response) {
    //     console.log(response["data"]);
    //     // token = response["data"]["token"]
    // })
    // .catch(function (error) {
    //     console.error(error["response"]["data"]["error"]);
    //     // usernameError = error["response"]["data"]["error"];
    //     // passwordError = error["response"]["data"]["error"];
    // });
}
---

<main class="h-screen bg-background text-text flex items-center justify-center">
    <p class="text-wrap">{Astro.cookies.get("token")?.value}</p>
    <!-- <pre class="">{Astro.cookies.get("token")?.value}</pre> -->
</main>
