---
import LoginForm from "../components/LoginForm.svelte";
import InputComponent from "../components/InputComponent.svelte";
---

<main class="h-screen grid grid-cols-1 grid-rows-1 place-items-center">
    <LoginForm/>
</main>
