---
import RegisterForm from "../components/RegisterForm.svelte";
// import InputComponent from "../components/InputComponent.svelte";
---

<main class="h-screen bg-background text-text grid grid-cols-1 grid-rows-1 place-items-center">
    <RegisterForm client:load/>
</main>